.LeftMenu {
    border-bottom: 1px solid grey;
    width: 300px;
}

.SimpleBorder {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.Blues{
    color: blue;
}

.LeftMenuText {
    text-align: center;
    color: white;
    font-size: large;
}

.Posts ul {
    list-style: none;
    margin:0;
    padding: 0;
}

.Posts li {
    display: inline-block;
    margin: 20px;
}

.Posts a {
    text-decoration: none;
    color: aliceblue; 
}

.Posts ul:hover{
    color: rgb(58, 137, 211);
    cursor: pointer;
    -webkit-transition: color 0.08s ease-out;
    -moz-transition: color 0.08s ease-out;
    -o-transition: color 0.08s ease-out;
    transition: color 0.08s ease-out;
},
.Posts ul:active,
.Posts ul.active{
        color: rgb(58, 137, 211);
        cursor: pointer;  
    }


