.App-header {
  background-color: #F4F4F4;
  height: 100vmax;
  width: 100%;
}

.App-header3 {
  display: flex;
  color: white;
  flex-direction: row;
  background-color: #F4F4F4;
}

.LeftMenuBackground{
  display: flex;
  justify-content: stretch;
  height: 100vmax;
  background-color: #17191f;
}

.VariableContainer {
  display: flex;
  margin-top: 5px;
  width: 300px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.ReportContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-right: 25px;
  border: 1px solid firebrick;
  box-shadow: 0 5px 8px #ccc;
  width: 595px;
  height: 841.33px;
  flex: 0 0 auto;
  background-color: #FFFFFF;
}

.Top-Bar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SignOutCont{
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}

.LogoContainer2 {
  display:flex;
  border-bottom: 1px solid grey;
  justify-content: center;
  width: 300px;
}

.StateSelection {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  
  border-bottom: 1px solid grey;
  flex-grow: 1;
  margin-top: 1px;
}

.App-link {
  color: #61dafb;
}

.MainHeader {
    color: white;
    font-size: large;
    font-weight: bold;
}

.Normal {
  text-align: center;
  color: black;
  font-family: Arial;
  font-size: 12px;
}

.Text{
  color: white;
  font-size: medium;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
